/* src/reset.css */

/* Сбрасываем внешние отступы на всех элементах */
* {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Устанавливаем box-sizing */
}

/* Сбрасываем внешние отступы для h1, p и других элементов */
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    font-size: inherit; /* Устанавливаем размер шрифта по умолчанию */
    font-weight: normal; /* Убираем жирный шрифт */
    line-height: normal; /* Устанавливаем межстрочный интервал по умолчанию */
    color: inherit; /* Устанавливаем цвет текста по умолчанию */
}


/* Сбрасываем стили для html и body */
html, body {
    height: 100%; /* Устанавливает высоту для body */
    font-family: var(--font-family-helvetica); /* Устанавливает шрифт по умолчанию */
    font-size: var(--font-size-body); /* Устанавливает размер шрифта по умолчанию */
    line-height: 1.5; /* Устанавливает межстрочный интервал по умолчанию */
}
