.blog-card {
    display: flex;
    width: 679.5px; /* Example size, can be adjusted */
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: auto;
  }
  
  .blog-card-image img {
    width: 100%;
    height: 344px; /* Adjust height as needed */
    object-fit: cover;
    border-radius: 16px;
  }
  
  .blog-card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
  
  .blog-card-title {
    width: 100%;
    font-size: var(--font-size-title4);
    font-weight: var(--font-weight-regular);
    margin: 0;
    white-space: nowrap; /* Text will stay on one line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
  }
  